@page "/posts"

<Weavy>
    <h1>Posts</h1>
    <div class="container">
        <WeavyApp SpaceKey="blazor-space" key="blazor-posts" type="posts" name="Blazor Posts" controls=true />
    </div>
</Weavy>
