@page "/posts"

<Weavy>
    <h1>Posts</h1>
    <div style="height: 44rem;">
        <WeavyApp SpaceKey="blazor-spacex" key="blazor-posts" type="posts" name="Blazor Posts" controls=true />
    </div>
</Weavy>
